* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #050505;
    background-image: url("../assets/images/stars.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Urbanist', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    --wp-teal: #08E2A5;
    --wp-cyan: #00E5FF;
    --wp-purple: #9B59B6;
    --wp-dark: #050505;
}
